body {
  background-color: #e0fbfc;
  margin: 15px;
}

#main_header {
  padding: 5px;
  background-color: #ee6c4d;
  display: flex;
  justify-content: space-evenly;
}

.main_header {
  padding: 5px;
  color: #e0fbfc;
}

#mosnter_info_display {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
}

.button {
  margin: 5px;
  padding: 5px;
}

.area_data_div {
  padding: 5px;
}

.monster_input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

h2,
h1 {
  color: #e0fbfc;
  font-size: 50px;
}

.search_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 5px;
}

.header {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

/* Info Buttons */
.stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.stat_button {
  background-color: #293241;
  color: #e0fbfc;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  font-size: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat_button:hover {
  background-color: #3d5a80;
  cursor: pointer;
}

.buttons {
  padding: 5px;
  display: flex;
}

/* nav buttons */
#spells {
  background-color: #293241;
  height: 50px;
  width: auto;
  color: #e0fbfc;
  margin: 20px;
}

#races {
  background-color: #293241;
  height: 50px;
  width: auto;
  color: #e0fbfc;
  margin: 20px;
}
.racebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  margin: 8px;

  border-radius: 12px;
  border: 2px solid #98c1d9;

  font-weight: 600;
  text-align: center;
  user-select: none;

  cursor: pointer;
}
.race-container {
  margin-top: 10vh;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 12px;
}

body {
  background-color: #3d5a80;
  color: white;
  margin: 15px;
}

#main_header {
  padding: 5px;
  background-color: #ee6c4d;
}
.main_header {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  color: #e0fbfc;
  padding-left: 0;
  margin-left: 0;
}
.header_btn {
  margin-top: 25px;
}
h2 {
  color: #e0fbfc;
}
a {
  color: white;
  text-decoration: none;
  padding: 25px;
  font-size: 1.25em;
}
a:hover {
  color: lightgray;
  transform: scale(1.06);
}

#submit_button {
  width: 100px;
  height: 50px;
  color: white;
  background-color: grey;
}

#info-container {
  margin-left: 100px;
  margin-top: 25px;
}

#current-monster {
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 2em;
}
